<nav class="row nav">
    <a href="/bazzle" class="button button-clear column"><h1>Bazzle Blog</h1></a>
    <a href="/bazzle/create" class="button button-clear column column-offset-25 nav-link">Create</a>
    <a href="/bazzle/about" class="button button-clear column nav-link">About</a>
    <a href="/bazzle/contact" class="button button-clear column nav-link">Contact</a>
</nav>