<nav class="row nav">
    <a href="/" class="button button-clear column"><h1>Bazzle Blog</h1></a>
    <a href="/create" class="button button-clear column column-offset-25 nav-link">Create</a>
    <a href="/about" class="button button-clear column nav-link">About</a>
    <a href="/contact" class="button button-clear column nav-link">Contact</a>
</nav>