<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 

<body class="container">
    <%- include('./partials/nav.ejs') %>
    <h1 style="text-align: center;">404 Error! Page Not Found</h1>
    
    <div style="margin: 10px auto; width: 50%">
        <img src="/assets/404err.png" alt="404">
    </div>

    <a href="/bazzle" class="button" style="text-align: center; display: block;">
        Go back to Home Page
    </a>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>