<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

    <body class="container">
        <%- include('./partials/nav.ejs') %>
    
        <main class="about">
            <h1>About Us</h1>
            <div class="stats">
                <div class="stat">
                    <h3>50K +</h3>
                    <h5>Blogs</h5>
                </div>
                <div class="stat">
                    <h3>10K +</h3>
                    <h5>Users</h5>
                </div>
                <div class="stat">
                    <h3>700K mins +</h3>
                    <h5>ReadTime</h5>
                </div>
            </div>
            <hr>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae, blanditiis impedit molestiae quaerat nemo nam rem aut? Earum exercitationem blanditiis voluptates tempore maiores. Quod aliquam natus, maiores voluptates quibusdam in consequuntur excepturi hic rerum corrupti tenetur, nisi sed quae aut dicta cum! Repellat magni esse, numquam non quae tenetur suscipit dolorum corporis aliquid nam placeat sunt blanditiis omnis enim atque iusto doloremque, a quam illum. Molestias asperiores exercitationem modi!</p>
            </div>
        </main>
    
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>