<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

    <body class="container">
        <%- include('./partials/nav.ejs') %>
    
        <main class="about">
            <h1>About Us</h1>
            <div class="stats">
                <div class="stat">
                    <h3>50K +</h3>
                    <h5>Blogs</h5>
                </div>
                <div class="stat">
                    <h3>10K +</h3>
                    <h5>Users</h5>
                </div>
                <div class="stat">
                    <h3>700K mins +</h3>
                    <h5>ReadTime</h5>
                </div>
            </div>
            <hr>
            <div class="text">

            </div>
        </main>
    
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>