<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

    <body class="container">
        <%- include('./partials/nav.ejs') %>
    
        <main class="contact">
            <h1>Contact Us</h1>
            <div class="mediums">
                <div class="medium">
                    <img src="https://icongr.am/fontawesome/phone.svg?size=48&color=currentColor" alt="phone">
                    <p>+91 4777744442</p>
                </div>
                <div class="medium">
                    <img src="https://icongr.am/fontawesome/envelope.svg?size=48&color=currentColor" alt="email">
                    <p>bazzleblogs@baz.com</p>
                </div>
                <div class="medium">
                    <img src="https://icongr.am/fontawesome/twitter.svg?size=48&color=currentColor" alt="twitter">
                    <p>@bazzle_blogs</p>
                </div>
                <div class="medium">
                    <img src="https://icongr.am/fontawesome/instagram.svg?size=48&color=currentColor" alt="instagram">
                    <p>@bazzle_blogs</p>
                </div>
            </div>
        </main>
    
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>