<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/normalizecss">
    <link rel="stylesheet" href="/milligramcss">
    <link rel="stylesheet" href="/selfcss">
    <title>Create Blog</title>
</head>
<body>
    <div class="container">
        <nav class="row nav">
            <a href="/" class="button button-clear column"><h1>Bazzle Blog</h1></a>
            <a href="/create" class="button button-clear column column-offset-25 nav-link">Create</a>
            <a href="/about" class="button button-clear column nav-link">About</a>
            <a href="/contact" class="button button-clear column nav-link">Contact</a>
        </nav>
        <h1 id="createHeading">Create your own Bazzling Blog✨</h1>
        <form>
            <fieldset>
            <label for="blogTitle">Blog Title</label>
            <input type="text" placeholder="Javascript Tuts..." id="blogTitle">
            <label for="blogBody">Blog Body</label>
            <textarea placeholder="Your Blog..." id="blogBody"></textarea>
            <label for="blogTags">Blog Tags</label>
            <input type="text" placeholder="Javascript" id="blogTags">
            <button class="button-outline">Add Tag</button><br>
            <div class="addedTags">
                <p>No Tags!!</p>
            </div>
            <input class="button-primary" type="submit" value="Create Blog">
            </fieldset>
        </form>
    </div>
</body>
</html>