<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <h1 id="createHeading">Create your own Bazzling Blog✨</h1>
        <form>
            <fieldset>
            <label for="blogTitle">Blog Title</label>
            <input type="text" name="blogTitle" placeholder="Javascript Tuts..." id="blogTitle">
            <label for="blogBody">Blog Body</label>
            <textarea placeholder="Your Blog..." name="blogBody" id="blogBody"></textarea>
            <label for="blogTags">Blog Tags</label>
            <input type="text" placeholder="Javascript" id="blogTags">
            <button class="button-outline" id="addTagBtn">Add Tag</button><br>
            <div class="addedTags" id="addedTagsDiv">
                <p id="noTagMsg">No Tags!!</p>
            </div>
            <input class="button-primary" type="submit" value="Create Blog" id="createBtn">
            </fieldset>
        </form>
        <%- include('./partials/footer.ejs') %> 
    </div>
</body>

<script>
    const addTagBtn = document.querySelector('#addTagBtn');
    const tagField = document.querySelector('#blogTags');
    const noTagMsg = document.querySelector('#noTagMsg');
    let tagsDiv = document.querySelector('#addedTagsDiv');
    let blogTags = []
    addTagBtn.addEventListener('click',(e)=>{
        e.preventDefault()
        if(tagField.value.length > 0){
            const pill = document.createElement('div');
            pill.classList.add('pill');
            pill.appendChild(document.createTextNode(tagField.value));
            if(document.querySelector('#noTagMsg'))
                noTagMsg.remove();
            tagsDiv.appendChild(pill);
            blogTags.push(tagField.value)
            tagField.value = ''
        }
    })

    const createBlogBtn = document.querySelector('#createBtn')
    const blogTitleField = document.querySelector('#blogTitle')
    const blogBodyField = document.querySelector('#blogBody')
    createBlogBtn.addEventListener('click',async(e) => {
        e.preventDefault();
        const blogData = {
            blogTitle: blogTitleField.value,
            blogBody: blogBodyField.value,
            tags: blogTags
        }
        await fetch('http://localhost:5000/addblog', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(blogData)
        });
        window.location.href = '/'
    })
</script>
</html>