<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/normalizecss">
    <link rel="stylesheet" href="/milligramcss">
    <link rel="stylesheet" href="/selfcss">
    <title>Home</title>
</head>

<body class="container">
    <nav class="row nav">
        <a href="/" class="button button-clear column"><h1>Bazzle Blog</h1></a>
        <a href="/create" class="button button-clear column column-offset-25 nav-link">Create</a>
        <a href="/about" class="button button-clear column nav-link">About</a>
        <a href="/contact" class="button button-clear column nav-link">Contact</a>
    </nav>

    <main>
        <div class="headText">
            <h1>Let the World read what You know !!!</h1>
        </div>
        <div class="blogs">
            <h3>Go through some Bazzling Blogs...</h3>
            <hr>
            <div class="blog-cards">
                <div class="blogCard">
                    <h2>Docker Tutorials</h2>
                    <div class="pills">
                        <div class="pill">Docker</div>
                        <div class="pill">Devops</div>
                        <div class="pill">Web Dev</div>
                    </div>
                    <div class="btnAndDetails">
                        <p class="readby">read by 424 people</p>
                        <button class="button">Read</button>
                    </div>
                </div>
                <div class="blogCard">
                    <h2>Node Tutorials</h2>
                    <div class="pills">
                        <div class="pill">Node JS</div>
                        <div class="pill">Express JS</div>
                        <div class="pill">Backend Web Dev</div>
                    </div>
                    <div class="btnAndDetails">
                        <p class="readby">read by 492 people</p>
                        <button class="button">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; Copyright by Lakshit_CS| Bazzler Blog | 2022 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
    </footer>
</body>
</html>