<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/normalizecss">
    <link rel="stylesheet" href="/milligramcss">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="/">Home</a><br>
    <a href="/about">About</a>
    <a class="button" href="#">Default Buttons</a>
</body>
</html>