@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --primary-color: #3eac3e;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #e1e1e1;
}

hr{
    background-color: #bcbcbc;
}

.nav{
    padding: 40px 0;
}

h1{
    font-weight: 700;
}

.nav-link{
    color: var(--primary-color);
    font-size: 16px;
}

.button.button-clear{
    color: var(--primary-color);
}

main div{
    margin: 40px auto;
}

main div.headText{
    max-width: 500px;
    margin-bottom: 80px;
}

main h1,h3{
    text-align: center;
}